<div class="container mt-5">
  <div class="container mt-5">
    <div *ngIf="!registerMode" style="text-align: center">
      <h1>Find Your Match</h1>
      <p class="lead">come on in view your match</p>
      <div class="text-center">
        <button (click)="registerToggle()" class="btn btn-primary btn-lg me-2">
          Register
        </button>
        <button class="btn btn-primary btn-info btn-lg">Learn more</button>
      </div>
    </div>

    <div *ngIf="registerMode" class="container">
      <div class="row justify-content-center">
        <div class="col-4">
          <!-- Include the registration form component here -->
          <app-register
            (cancelRegister)="cancelRegisterMode($event)"
          ></app-register>
        </div>
      </div>
    </div>
  </div>
</div>
