<form #registrationForm="ngForm" (ngSubmit)="register()" autocomplete="off">
  <h2 class="text-center text-primary">Sign up</h2>
  <hr />
  <div class="mb-3">
    <input
      name="username"
      [(ngModel)]="model.username"
      class="form-control me-2"
      type="text"
      placeholder="username"
    />
  </div>
  <div class="mb-3">
    <input
      name="password"
      [(ngModel)]="model.password"
      class="form-control me-2"
      type="password"
      placeholder="password"
    />
  </div>

  <div class="text-center">
    <button class="btn btn-success" type="submit">Register</button>
    <button class="btn btn-default" type="button" (click)="cancel()">
      Cancel
    </button>
  </div>
</form>
