<div class="card">
  <div class="card-body">
    <div *ngIf="messages.length === 0">
      <h3>No messages yet...say hi using message box below</h3>
    </div>

    <ul *ngIf="messages.length > 0">
      <li *ngFor="let message of messages">
        <div>
          <span class="chat-image float-end">
            <img
              class="rounded-circle"
              src="{{
                message.senderPhotoUrl ||
                  'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcReomz733Bvj52fIyCAh_4emmEM6HiGM0WveT2M03XpLg&s'
              }}"
              alt="image of user"
            />
          </span>
          <div class="chat-body">
            <div class="header">
              <small class="text-muted">
                <span class="fa fa-clock-o">{{
                  message.messageSent + "Z" | timeago
                }}</span>
                <span
                  class="text-danger"
                  *ngIf="
                    !message.dateRead && message.senderUsername !== username
                  "
                  >(unread)</span
                >
                <span
                  class="text-success"
                  *ngIf="
                    message.dateRead && message.senderUsername !== username
                  "
                >
                  (read {{ message.dateRead + "Z" | timeago }})</span
                >
              </small>
            </div>
            <p>{{ message.content }}</p>
            <hr />
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="card-footer">
    <form (ngSubmit)="sendMessage()" autocomplete="off" #messageForm="ngForm">
      <div class="input-group">
        <input
          required
          name="messageContent"
          type="text"
          [(ngModel)]="messageContent"
          class="form-control input-sm"
          placeholder="Send a private message"
        />
        <div class="input-group-append">
          <button
            [disabled]="!messageForm.valid"
            class="btn btn-primary"
            type="submit"
          >
            Send
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
